.app {
  max-width: 550px;
  max-height: 550px;
  background-color: #F5F7FB;
  padding-bottom: 2rem;
  
}

button {
  border-radius: 8px;
  border: 0.794239px solid #4D5B9E;
  box-sizing: border-box;
  background-color: #F5F7FB;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
  margin-left: -10rem;
}


.title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  position: absolute;
  width: 412px;
  height: 41px;
  margin-left: 7.5rem;
  
  top: 218px;
}

.start {
  width: 193px;
  height: 52px;
  
  
  border-style: none;
  background: #4D5B9E;
  border-radius: 15px;
  
}



.choices-list {
  display: flex;
  list-style-type: none;
  padding: 0
}

.choices-list li {
  margin-right: 10px;
}

.selected {
  background-color: #D6DBF5;
}

.check-btn {
  padding: 10px;
  margin-bottom: 2rem;
  
}

.empty-space{
  margin-top: 2rem;
}


@media (min-width: 900px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
  }
  .start {
    
  }
}
